<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UUID</key>
	<string>C1BA3CD8-ABC9-4F63-89D6-586762FA32FB</string>
	<key>arrangedUUIDs</key>
	<array>
		<dict>
			<key>UUID</key>
			<string>2FECA517-938A-4902-BF6A-449637624AB2</string>
			<key>UUIDs</key>
			<array>
				<string>70D134ED-E1B7-4B50-BD01-19D6E1E85A3D</string>
				<string>1D85898F-A279-4E62-A313-74900248A7E1</string>
			</array>
			<key>name</key>
			<string>Alaska Magazine</string>
		</dict>
		<string>A335BE63-74D4-4420-B682-C8F70C72D142</string>
		<string>24C9BB3C-B4EA-4FA9-88B9-94FAEC691580</string>
		<dict>
			<key>UUID</key>
			<string>5C991407-DD7F-4DBB-B274-34F66B88C87B</string>
			<key>UUIDs</key>
			<array>
				<string>A188E93F-A586-4AC4-BE1D-84B82128E15C</string>
				<string>D7B78C98-AA29-446D-8EC4-710A53844938</string>
			</array>
			<key>name</key>
			<string>American Angler</string>
		</dict>
		<dict>
			<key>UUID</key>
			<string>9F055515-BAAD-44DA-B04F-DA65C1BD9C46</string>
			<key>UUIDs</key>
			<array>
				<string>C4095251-C33D-488B-BA77-2E827FA33277</string>
				<string>38FD2796-C645-448E-A6DB-C08FDE8A81CF</string>
			</array>
			<key>name</key>
			<string>Augusta Futurity</string>
		</dict>
		<dict>
			<key>UUID</key>
			<string>9B0D8554-F56C-4072-A4E2-0565A7673D1E</string>
			<key>UUIDs</key>
			<array>
				<string>5AE03ACB-D3C7-4DFE-99E3-E1F5CC278141</string>
				<string>AB73D593-5CC5-47EE-82DD-79437147E23D</string>
			</array>
			<key>name</key>
			<string>Barrel Horse News</string>
		</dict>
		<string>77076B79-3BF3-4B9B-AA72-9E3378050339</string>
		<string>38C0478E-2B97-4FBC-AD5B-D2F04B24602A</string>
		<dict>
			<key>UUID</key>
			<string>58318198-6069-41AD-8E18-C5364E145535</string>
			<key>UUIDs</key>
			<array>
				<string>277B911E-B129-4427-AE13-DE55E238D024</string>
				<string>BDF59D73-0D24-44B4-8818-5FD5D94F518D</string>
			</array>
			<key>name</key>
			<string>Equine Journal</string>
		</dict>
		<dict>
			<key>UUID</key>
			<string>C62A23D2-C456-4B31-9922-E3B441A078FB</string>
			<key>UUIDs</key>
			<array>
				<string>EB5A4D62-6B0D-4A93-B592-45A8A1833687</string>
				<string>6B5E935E-B240-46FE-9B28-1B7234BBBDDE</string>
			</array>
			<key>name</key>
			<string>Equistat</string>
		</dict>
		<dict>
			<key>UUID</key>
			<string>080D10DF-56B4-4ECC-8C0A-BB4172E0840B</string>
			<key>UUIDs</key>
			<array>
				<string>0B0155A3-2AF7-4E63-9873-797FBE3BC32D</string>
				<string>7E83D5AA-6B2C-4F67-824B-1B3886EF308E</string>
			</array>
			<key>name</key>
			<string>FlyTyer</string>
		</dict>
		<string>EB5A70AB-B6BA-4C1C-974C-BDCED0E2D204</string>
		<string>9FF86FAA-8633-434D-BBB6-2C9271493140</string>
		<string>703343E8-98F0-43D4-B97D-FF443FFF7D80</string>
		<dict>
			<key>UUID</key>
			<string>9AE8D9DB-793A-4D07-8543-8DBA5BCC95D7</string>
			<key>UUIDs</key>
			<array>
				<string>B69F65C4-4257-4D3C-B79B-5C36887857CD</string>
				<string>2412F05A-85FC-4714-B333-47A915CA28FB</string>
			</array>
			<key>name</key>
			<string>HorseCity</string>
		</dict>
		<string>27751B96-5C00-433B-B77A-8C3D15F311AB</string>
		<string>1A099723-0C96-4297-9638-A4DB8DD47E78</string>
		<string>C78342BB-3DD0-4D78-BC9F-793BBBB1AC33</string>
		<dict>
			<key>UUID</key>
			<string>932ECEC5-AD5D-4CD5-9F29-299215424A7B</string>
			<key>UUIDs</key>
			<array>
				<string>1F5F8222-EE22-4407-897B-D67F436A116B</string>
				<string>A53F50FB-C155-42BE-A8F4-F71C8F0DCEE2</string>
				<string>5DDE1FAE-55D0-410D-9B68-6EB8ACB3B57A</string>
				<string>853CFB0B-86C3-48BB-94B6-9BD0E1DFFE45</string>
			</array>
			<key>name</key>
			<string>Milepost</string>
		</dict>
		<string>BEEDF0A8-D25A-4CAE-AB0B-EA146F94E218</string>
		<dict>
			<key>UUID</key>
			<string>0A685B18-66AE-48FB-90AC-72C7CF939F44</string>
			<key>UUIDs</key>
			<array>
				<string>97412EB4-DA3F-451F-8916-9B44E703AC27</string>
				<string>9E7363DC-01EE-46C6-88A4-777A008C7AA0</string>
			</array>
			<key>name</key>
			<string>NBHA</string>
		</dict>
		<string>7E5E143F-8106-4BB5-B1F5-03190B00E310</string>
		<dict>
			<key>UUID</key>
			<string>8AA6D572-7FF6-47BA-9EC3-B825FF8A0B67</string>
			<key>UUIDs</key>
			<array>
				<string>17BEA509-7243-4DC0-BEED-F701D6B785AA</string>
				<string>FB46B0F4-C99F-4728-995E-DC510B0646CF</string>
			</array>
			<key>name</key>
			<string>Quarter Horse News</string>
		</dict>
		<string>0EB15AE8-1BD4-40DB-8950-441953A6B09B</string>
		<dict>
			<key>UUID</key>
			<string>F114844D-1703-4C3A-9360-C2BD43C4CAB7</string>
			<key>UUIDs</key>
			<array>
				<string>CBAA2ACA-F8F4-4634-A15A-33B223506A75</string>
				<string>66DFBCD8-5E4F-470E-B94A-B69FF20AB3BA</string>
			</array>
			<key>name</key>
			<string>Reno Tahoe Visitor</string>
		</dict>
		<dict>
			<key>UUID</key>
			<string>00249725-7E54-46F3-9386-3F947B35C5CB</string>
			<key>UUIDs</key>
			<array>
				<string>6ECFEBD6-AD37-4A5B-9559-601696DC37F9</string>
				<string>5409C85A-35E0-4A7E-858A-B867D6A25738</string>
			</array>
			<key>name</key>
			<string>Sandbox Sites</string>
		</dict>
		<string>AA9BD996-E30E-472E-843B-B4BE5D0E1998</string>
		<string>8ED5C36B-42BC-4B55-958E-4AFD5228E472</string>
		<dict>
			<key>UUID</key>
			<string>08BAF38A-77F5-46F8-82B6-CE4AC6FA87AD</string>
			<key>UUIDs</key>
			<array>
				<string>6E472A28-9D3B-4345-A245-04889A2502A1</string>
				<string>901EFDB3-847A-495C-8C11-60C654D05661</string>
			</array>
			<key>name</key>
			<string>Training Barrel Horses</string>
		</dict>
		<string>592898AD-CA6F-4C4C-875E-57308E309A71</string>
		<dict>
			<key>UUID</key>
			<string>FA4105DF-8370-4C8E-914D-2565BB48C58E</string>
			<key>UUIDs</key>
			<array>
				<string>9592DA2A-8122-4418-8B25-111BDDBB808B</string>
				<string>2BDF2CAF-29B4-4999-8311-D53E96200DEB</string>
			</array>
			<key>name</key>
			<string>Western Horseman</string>
		</dict>
		<dict>
			<key>UUID</key>
			<string>971909B8-58C6-4710-BF6B-0EAEAA78715E</string>
			<key>UUIDs</key>
			<array>
				<string>2F96D4E3-68E0-4D97-89D5-5D258BBB6BD9</string>
				<string>8BAD21EF-C7F8-4DD8-8FB0-8CB561115296</string>
			</array>
			<key>name</key>
			<string>Where</string>
		</dict>
		<string>0DA12EE0-16AD-4DC9-85F5-A732440B4B03</string>
	</array>
</dict>
</plist>
