<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>code</key>
	<string>A2SLNjIzNDBiYzgzYjFlF8j0FFfYxZE3ZWe8EnLa4D+9lExkuh389TH6bJ64Ri2X8zWu3ClkNOpFt0/Q1DWsA8ObeHQaBaM6HK7jc0uFS8vofs3/c7zitvcgw/GFz6nNZS86FX/O03hA7lmcOPViKH64ihk3/U51GtZnk1kye/gdIeGCm4di3LLkMxqBBfYmJxYJE4K3</string>
	<key>email</key>
	<string>jasonmackdoyle@gmail.com</string>
</dict>
</plist>
